.App {
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid black;
  height: 350px;
  width: 300px;
  margin: 0 auto;
}

#restart {
  height: 35px;
  width: 35px;
  margin: 25px;
}