button {
  vertical-align: middle;
  background: rgb(225, 225, 225);
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(175, 175, 175);
  height: 25px;
  width: 25px;
}

button:active {
  border-top: 2px solid darkgrey;
  border-left: 2px solid darkgrey;
}

button:focus {
  outline: 0;
}

.left-clicked {
  background-color: rgb(200, 200, 200);
}